<!DOCTYPE html>
<html>
<head>
<style>
/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
    border-radius: 25px;
    margin-left: 25%;
    margin-right: auto;
    background-color: #EFEFEF;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}


</style>
</head>
<body>
<center><div class="row">
  <a href="/"><img src="/images/sct_logo1.png" class="img-responsive main-image"></a>
</div>
<br>
</center>

<div class="row">
  <div class="column">
    <center>
      <form method="post" action="/chores/<%=@chore.id%>">
        <h2>Edit Chore</h2>
        <p><b>"<%= @chore.name %>"</b>
          <input id="hidden" type="hidden" name="_method" value="patch">
          <p>Edit Chore: <input type="text" name="name" value="<%=@chore.name%>" style="width: 300px;" maxlength="50"> <small>(50 char max)</small>
          <p>Frequency:
            <label><input type="radio" name="frequency" value="daily" <%='checked' if @chore.frequency == "daily" %>> Daily</label>
            <label><input type="radio" name="frequency" value="biweekly" <%='checked' if @chore.frequency == "biweekly"%>> Twice a week</label>
            <label><input type="radio" name="frequency" value="weekly" <%='checked' if @chore.frequency == "weekly"%>> Weekly</label>
            <label><input type="radio" name="frequency" value="monthly" <%='checked' if @chore.frequency == "monthly"%>> Monthly</label>
            <p><input type="submit" value="Edit Chore" name="submit">


    </form>
  </center>
  </div>
</div>
