<!DOCTYPE html>
<html>
<head>
<style>
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #CAEBF2;
}

a {
    color: #FF3B3F;
}


/* Create two equal columns that floats next to each other */
.column_clear {
    float: left;
    width: 50%;
    padding: 10px;
    border-radius: 25px;
    margin-left: 25%;
    margin-right: auto;
    background-color: #EFEFEF;
}
.column1 {
    float: left;
    width: 70%;
    padding: 10px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-left: 15%;
    margin-right: auto;
    background-color: #EFEFEF;
}
.column2 {
    float: left;
    width: 70%;
    padding: 10px;
    margin-left: 15%;
    margin-right: auto;
    background-color: #EFEFEF;
}
.column3 {
    float: left;
    width: 70%;
    padding: 10px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-left: 15%;
    margin-right: auto;
    background-color: #EFEFEF;
}
.minicolumn {
    float: left;
    width: 50%;
    padding: 10px;
    background-color: #EFEFEF;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}


</style>
</head>
<body>
<center><a href="/"><img src="images/sct_logo1.png" class="img-responsive main-image"></a></center>
<center>
<div class="row">
  <div class="column_clear">
Mark a chore completed by clicking the checkmark next to it.
<br>Past due chores will always be prioritized to the top.  Now get to work!
</div>
</div>
<br>
</center>
<div class="row">
  <div class="column1">
    <h2>Daily Chores</h2>
    <% if @daily_chores.count > 0 %>
      <% @daily_chores.each_slice(@daily_chores_count) do |chores| %>
      <div class="minicolumn" >
        <% chores.each do |chore| %>
        <form action="/chores/<%= chore.id %>/complete" method="post">
            <% if chore.past_due == true %>
              <br><input type="submit" value="✔"> <%= chore.name %> <span style="color:#FF0000">PAST DUE</span>
            <% else %>
              <br><input type="submit" value="✔"> <%= chore.name %>
            <% end %>
          </form>
        <% end %>
      </div>
      <% end %>
    <% else %>
      <p>Looks like you're all caught up.  Check back tomorrow!
    <% end %>
  </div>
</div>
<div class="row">
  <div class="column2">
    <h2>Biweekly / Weekly Chores</h2>
  </div>
</div>
  <div class="row">
    <div class="column2">
      <h3>Biweekly</h3>
      <% if @biweekly_chores.count > 0 %>
        <% @biweekly_chores.each_slice(@biweekly_chores_count) do |chores| %>
        <div class="minicolumn">
          <% chores.each do |chore| %>
          <form action="/chores/<%= chore.id %>/complete" method="post">
              <% if chore.past_due == true %>
                <br><input type="submit" value="✔"> <%= chore.name %> <span style="color:#FF0000">PAST DUE</span>
              <% else %>
                <br><input type="submit" value="✔"> <%= chore.name %>
              <% end %>
            </form>
          <% end %>
        </div>
        <% end %>
      <% else %>
        <p>Looks like you're all caught up.  Check back tomorrow!
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="column2">
      <h3>Weekly</h3>
      <% if @weekly_chores.count > 0 %>
        <% @weekly_chores.each_slice(@weekly_chores_count) do |chores| %>
        <div class="minicolumn">
          <% chores.each do |chore| %>
          <form action="/chores/<%= chore.id %>/complete" method="post">
              <% if chore.past_due == true %>
                <br><input type="submit" value="✔"> <%= chore.name %> <span style="color:#FF0000">PAST DUE</span>
              <% else %>
                <br><input type="submit" value="✔"> <%= chore.name %>
              <% end %>
            </form>
          <% end %>
        </div>
        <% end %>
      <% else %>
        <p>Looks like you're all caught up.  Check back tomorrow!
      <% end %>
    </div>
  </div>
<div class="row">
  <div class="column3">
    <h2>Monthly Chores</h2>
    <% if @monthly_chores.count > 0 %>
      <% @monthly_chores.each_slice(@monthly_chores_count) do |chores| %>
      <div class="minicolumn">
        <% chores.each do |chore| %>
        <form action="/chores/<%= chore.id %>/complete" method="post">
            <% if chore.past_due == true %>
              <br><input type="submit" value="✔"> <%= chore.name %> <span style="color:#FF0000">PAST DUE</span>
            <% else %>
              <br><input type="submit" value="✔"> <%= chore.name %>
            <% end %>
          </form>
        <% end %>
      </div>
      <% end %>
    <% else %>
      <p>Looks like you're all caught up.  Check back tomorrow!
    <% end %>
  </div>
</div>
<center><div class="row">
<h2><a href="/chores/edit">Edit your chore tracker</a></h2>
</div></center>

</body>
</html>
