<p>Daily
<br>------------------------------------
<% @daily_chores.each do |chore| %>
<p><%= chore.name %> <a href="/chores/<%=chore.id%>/edit">Edit</a>, <a href="/chores/<%=chore.id%>/delete">Delete</a>
<% end %>

<br>

<p>BiWeekly
  <% @biweekly_chores.each do |chore| %>
<p><%= chore.name %> <a href="/chores/<%=chore.id%>/edit">Edit</a>, <a href="/chores/<%=chore.id%>/delete">Delete</a>
<% end %>


<p>Weekly
  <% @weekly_chores.each do |chore| %>
<p><%= chore.name %> <a href="/chores/<%=chore.id%>/edit">Edit</a>, <a href="/chores/<%=chore.id%>/delete">Delete</a>
<% end %>

<p>Monthly
  <% @monthly_chores.each do |chore| %>
<p><%= chore.name %> <a href="/chores/<%=chore.id%>/edit">Edit</a>, <a href="/chores/<%=chore.id%>/delete">Delete</a>
<% end %>
