<!DOCTYPE html>
<html>
<head>
<style>
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Create two equal columns that floats next to each other */
.column1 {
    float: left;
    width: 100%;
    padding: 10px;
}
.column2 {
    float: left;
    width: 30%;
    padding: 10px;
}
.minicolumn {
    float: left;
    width: 30%;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
        width: 100%;
    }
}
</style>
</head>
<body>

<h2>Your Simple Chore Tracker</h2>
<div class="row">
Welcome to your chore tracker.  Mark a chore completed by clicking "done".  Past due chores will always be prioritized to the top.  Now get to work!
</div>

<div class="row">
  <div class="column1" style="background-color:#bbb;">
    <h2>Daily Chores</h2>
    <% if @daily_chores.count > 0 %>
      <% @daily_chores.each_slice(@daily_chores_count) do |chores| %>
      <div class="minicolumn" >
        <% chores.each do |chore| %>
        <form action="/chores/<%= chore.id %>/edit" method="post">
            <% if chore.past_due == true %>
              <br><input type="submit" value="EDIT"> <a href="/chores/<%= chore.id %>/delete">delete</a> <%= chore.name %> PAST DUE
            <% else %>
              <br><input type="submit" value="EDIT"> <a href="/chores/<%= chore.id %>/delete">delete</a> <%= chore.name %>
            <% end %>
          </form>
        <% end %>
      </div>
      <% end %>
    <% else %>
      <p>Looks like you don't have any daily chores created.  You can add some <a href="/chores/new">here</a>.
    <% end %>
  </div>
</div>
<div class="row">
  <div class="column1" style="background-color:#bbb;">
    <h2>Biweekly / Weekly Chores</h2>
  </div>
</div>
  <div class="row">
    <div class="column1" style="background-color:#bbb;">
      <h3>Biweekly</h3>
      <% if @biweekly_chores.count > 0 %>
        <% @biweekly_chores.each_slice(@biweekly_chores_count) do |chores| %>
        <div class="minicolumn">
          <% chores.each do |chore| %>
          <form action="/chores/<%= chore.id %>/edit" method="post">
              <% if chore.past_due == true %>
                <br><input type="submit" value="EDIT"> <a href="/chores/<%= chore.id %>/delete">delete</a> <%= chore.name %> PAST DUE
              <% else %>
                <br><input type="submit" value="EDIT"> <a href="/chores/<%= chore.id %>/delete">delete</a> <%= chore.name %>
              <% end %>
            </form>
          <% end %>
        </div>
        <% end %>
      <% else %>
        <p>Looks like you don't have any biweekly chores created.  You can add some <a href="/chores/new">here</a>.
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="column1" style="background-color:#bbb;">
      <h3>Weekly</h3>
      <% if @weekly_chores.count > 0 %>
        <% @weekly_chores.each_slice(@weekly_chores_count) do |chores| %>
        <div class="minicolumn">
          <% chores.each do |chore| %>
          <form action="/chores/<%= chore.id %>/edit" method="post">
              <% if chore.past_due == true %>
                <br><input type="submit" value="EDIT"> <a href="/chores/<%= chore.id %>/delete">delete</a> <%= chore.name %> PAST DUE
              <% else %>
                <br><input type="submit" value="EDIT"> <a href="/chores/<%= chore.id %>/delete">delete</a> <%= chore.name %>
              <% end %>
            </form>
          <% end %>
        </div>
        <% end %>
      <% else %>
        <p>Looks like you don't have any weekly chores created.  You can add some <a href="/chores/new">here</a>.
      <% end %>
    </div>
  </div>
<div class="row">
  <div class="column1" style="background-color:#bbb;">
    <h2>Monthly Chores</h2>
    <% if @monthly_chores.count > 0 %>
      <% @monthly_chores.each_slice(@monthly_chores_count) do |chores| %>
      <div class="minicolumn">
        <% chores.each do |chore| %>
        <form action="/chores/<%= chore.id %>/edit" method="post">
            <% if chore.past_due == true %>
              <br><input type="submit" value="EDIT"> <a href="/chores/<%= chore.id %>/delete">delete</a> <%= chore.name %> PAST DUE
            <% else %>
              <br><input type="submit" value="EDIT"> <a href="/chores/<%= chore.id %>/delete">delete</a> <%= chore.name %>
            <% end %>
          </form>
        <% end %>
      </div>
      <% end %>
    <% else %>
      <p>Looks like you don't have any monthly chores created.  You can add some <a href="/chores/new">here</a>.
    <% end %>
  </div>
</div>

</body>
</html>




<div class="row">
<p>
<p><a href="/chores/edit">Edit your chores list</a>
<p><a href="/chores/new">Add a new chore</a>
<p><a href="/chores/seed">Seed database</a>

</div
