<!DOCTYPE html>
<html>
<head>
<style>
/* Create two equal columns that floats next to each other */


.column1 {
    float: left;
    width: 70%;
    padding: 10px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-left: 15%;
    margin-right: auto;
    background-color: #EFEFEF;
}
.column2 {
    float: left;
    width: 70%;
    padding: 10px;
    margin-left: 15%;
    margin-right: auto;
    background-color: #EFEFEF;
}
.column3 {
    float: left;
    width: 70%;
    padding: 10px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-left: 15%;
    margin-right: auto;
    background-color: #EFEFEF;
}
.minicolumn {
    float: left;
    width: 50%;
    padding: 10px;
    background-color: #EFEFEF;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}


</style>
</head>
<body>
  <center><img src="../images/sct_logo1.png" class="img-responsive main-image"></center>
  <br>
  <center><h2>Edit Your Chore List</h2></center>
  <p>
<div class="row">
  <div class="column1">
    <h2>Daily Chores</h2>
      <p><b><small><a href="/chores/new">Add a new daily chore</a></small></b>
    <% if @daily_chores.count > 0 %>
      <% @daily_chores.each_slice(@daily_chores_count) do |chores| %>
      <div class="minicolumn" >
        <% chores.each do |chore| %>
          <form action="/chores/<%= chore.id %>/edit" method="get">
          <br><input type="submit" value="EDIT"> <a href="/chores/<%= chore.id %>/delete">delete</a> <%= chore.name %>
          </form>
        <% end %>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="column2">
    <h2>Biweekly / Weekly Chores</h2>
    <p><b><small><a href="/chores/new">Add a new biweekly/weekly chore</a></small></b>

  </div>
</div>
<div class="row">
  <div class="column2">
    <h3>Biweekly</h3>
    <% if @biweekly_chores.count > 0 %>
      <% @biweekly_chores.each_slice(@biweekly_chores_count) do |chores| %>
        <div class="minicolumn">
        <% chores.each do |chore| %>
          <form action="/chores/<%= chore.id %>/edit" method="post">
          <br><input type="submit" value="EDIT"> <a href="/chores/<%= chore.id %>/delete">delete</a> <%= chore.name %>
          </form>
        <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="column2">
    <h3>Weekly</h3>
    <% if @weekly_chores.count > 0 %>
      <% @weekly_chores.each_slice(@weekly_chores_count) do |chores| %>
        <div class="minicolumn">
          <% chores.each do |chore| %>
            <form action="/chores/<%= chore.id %>/edit" method="post">
            <br><input type="submit" value="EDIT"> <a href="/chores/<%= chore.id %>/delete">delete</a> <%= chore.name %>
            </form>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="column3">
    <h2>Monthly Chores</h2>
    <p><b><small><a href="/chores/new">Add a new monthly chore</a></small></b>
    <% if @monthly_chores.count > 0 %>
      <% @monthly_chores.each_slice(@monthly_chores_count) do |chores| %>
        <div class="minicolumn" >
          <% chores.each do |chore| %>
            <form action="/chores/<%= chore.id %>/edit" method="post">
            <br><input type="submit" value="EDIT"> <a href="/chores/<%= chore.id %>/delete">delete</a> <%= chore.name %>
            </form>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<center><div class="row">
<h2><a href="/chores">View your chore tracker</a></h2>
</div></center>

</body>
</html>
